a:-webkit-any-link {
    text-decoration: none;
}

@media (min-width:768px) {
    /*-------------------------------------------- text --------------------------------------------*/

    .material-icons.md-18 {
        font-size: 18px;
    }

    .material-icons.md-16 {
        font-size: 16px;
    }

    h3 {
        margin: auto 0px auto 0px;
        font-family: 'Montserrat';
        font-weight: bold;
        font-size: 20px;
    }

    /*--------------------------------------------  buttons -------------------------------------------- */

    .button-available {
        padding: 6px 21px 8px 21px;
        background: #3468EC;
        border-radius: 5px;
        font-family: Montserrat;
        font-weight: 600;
        font-size: 13px;
        color: #FFFFFF;
        border: 1.8px solid #3468EC;
        transition-duration: 1s;
        transition-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
        transition-property: box-shadow;
    }

    .button-available:focus,
    .button-available:hover,
    .button-available:active {
        box-shadow: 0px 0px 10px 2px teal;
    }

    .button-halfway {
        height: 33px;
        padding: 6px 21px 8px 21px;
        background: #FFFFFF;
        font-family: Montserrat;
        font-weight: 600;
        font-size: 13px;
        color: #3468EC;
        border: 1.8px solid #3468EC;
        border-radius: 5px;
    }

    /*-------------------------------------------- others --------------------------------------------*/


    body {
        /* background-color: #fcfcfc; */
        color: #333333;
        overflow: hidden;
        overflow-x: hidden;
    }

    .header-bar-container {
        height: 68px;
        position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        background: #3468EC;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    }

    .header-bar-wrapper {
        padding-left: 36px;
        padding-right: 36px;
        margin: 0 auto;
    }


    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 68px;
    }

    .header-bar-logo {
        margin-top: 3px;
    }

    .header-bar-nav-items {
        display: flex;
    }

    .header-bar-nav-items li {
        list-style: none;
        margin-right: 65px;
        /* background-color: #346567; */
        border-radius: 100px;
    }

    .header-bar-nav-items li:nth-last-of-type(1) {
        margin-right: 12px;
    }

    .header-bar-nav-items li a {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 14px;
        color: white;
        text-decoration: none;
    }

    .content-wrapper {
        margin: 120px auto;
        width: 90vw;
        max-width: 855px;
        /* background-color: aquamarine; */
    }

    .content-nav {
        margin: 0px auto 0px auto;
        display: flex;
        max-width: 577px;
        justify-content: space-between;
        /* background-color: aquamarine; */
    }

    .content-nav-button {
        display: flex;
        padding: 0px 3px 0px 3px;
        min-width: 67px;
        max-width: 95px;
        height: 28px;
        align-items: center;
        justify-content: space-between;
        color: #828282;
        /* background-color: bisque; */
        border-color: white;
        border-width: 4px;
        border-bottom-style: inset;
        transition: ease;
        transition-duration: 300ms;
    }

    .content-nav-button-label {
        margin-top: 1px;
        margin-left: 3px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 135%;
        text-align: right;
    }

    .data-widget-container {
        margin: 54px auto 0px auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }


    .data-widget {
        margin-bottom: 26px;
        display: flex;
        flex-direction: column;
        max-width: 194px;
        width: 20vw;
        height: 123px;
        background: #FFFFFF;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    }

    .data-widget-value {
        margin: auto;
        font-family: 'Lora', serif;
        font-weight: 200;
        font-size: 25px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #333333;
    }

    .data-widget-title {
        margin: 25px auto -7px auto;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 13px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #3468EC;
    }

    .modal-minimized {
        padding: 33px 33px 33px 33px;
        height: calc(100vh - 352px - 150px);
        background: #FFFFFF;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
        align-items: center;
    }

    .flex-row-1 {
        display: flex;
        height: 40px;
        justify-content: space-between;
        margin-bottom: 24px;
        flex-wrap: wrap;
    }

    .search-container {
        display: flex;
        align-items: center;
    }

    .form-field {
        margin-right: 14px;
        align-items: center;
        height: 40px;
        display: flex;
        background: #FFFFFF;
        width: 40vw;
        max-width: 344px;
        box-shadow: inset 0px 0px 10px rgba(20, 110, 45, 0.15);
        padding: 0px 12px 0px 12px;
        box-sizing: border-box;
        transition-property: box-shadow;
        transition-duration: 0.1s;
    }

    .form-field:focus-within {
        box-shadow: inset 0px 0px 0px 1.8px #3468EC;
    }

    .search-input {
        height: auto;
        width: 35vw;
        max-width: 420px;
        border: none;
        font-family: Montserrat;
        font-weight: 600;
        font-size: 13px;
    }

    .form-input {
        height: auto;
        width: 35vw;
        max-width: 420px;
        border: none;
        font-family: Montserrat;
        font-weight: normal;
        font-size: 13px;
    }

    input[type=text]:focus {
        outline: none;
        color: #333333;
    }
}

@media (max-width:680px) {

    /*=============================================  mobile ============================================= */

    /*-------------------------------------------- text --------------------------------------------*/

    .material-icons.md-18 {
        font-size: 18px;
    }

    .material-icons.md-16 {
        font-size: 16px;
    }

    h3 {
        margin: auto 0px auto 0px;
        font-family: 'Montserrat';
        font-weight: bold;
        font-size: 18px;
    }

    /*--------------------------------------------  buttons -------------------------------------------- */

    .button-available {
        padding: 5px 10px;
        background: #3468EC;
        border-radius: 5px;
        font-family: Montserrat;
        font-weight: 600;
        font-size: 13px;
        color: #FFFFFF;
        border: 1.8px solid #3468EC;
        transition-duration: 1s;
        transition-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
        transition-property: box-shadow;
    }

    .button-available:focus,
    .button-available:hover,
    .button-available:active {
        box-shadow: 0px 0px 10px 2px teal;
    }

    .button-halfway {
        height: 33px;
        padding: 7px 15px;
        background: #FFFFFF;
        font-family: Montserrat;
        font-weight: 600;
        font-size: 13px;
        color: #3468EC;
        border: 1.8px solid #3468EC;
        border-radius: 5px;
    }

    /*-------------------------------------------- others --------------------------------------------*/


    body {
        /* background-color: #fcfcfc; */
        color: #333333;
        overflow-x: hidden;
        margin: 0 0 0 0;
    }

    .header-bar-container {
        height: 68px;
        position: sticky;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        background: #3468EC;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
        z-index: 1;
    }

    .header-bar-wrapper {
        padding-left: 18px;
        padding-right: 0;
        margin: 0 auto;
    }


    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 68px;
    }

    .header-bar-logo {
        margin-top: 3px;
    }

    .header-bar-nav-items {
        display: none;
    }

    .header-bar-nav-items li {
        display: none;
        list-style: none;
        margin-right: 65px;
        /* background-color: #346567; */
        border-radius: 100px;
    }

    .header-bar-nav-items li:nth-last-of-type(1) {
        margin-right: 12px;
    }

    .header-bar-nav-items li a {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 14px;
        color: white;
        text-decoration: none;
    }

    .content-wrapper {
        margin: 0px auto;
        padding: 0 15px;
        /* background-color: aquamarine; */
    }

    .content-nav {
        margin: 0px auto 0px auto;
        padding: 30px 0px 30px 0px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        /* background-color: aquamarine; */
    }

    .content-nav-button {
        display: flex;
        padding: 0px 3px;
        height: 28px;
        align-items: center;
        justify-content: space-between;
        color: #828282;
        /* background-color: bisque; */
        border-color: white;
        border-width: 4px;
        border-bottom-style: solid;
        transition: ease;
        transition-duration: 300ms;
    }

    .content-nav-button:hover,
    .content-nav-button:focus,
    .content-nav-button:active {
        color: #3468EC;
        border-color: white;
        filter: opacity(0.5);
    }

    .content-nav-button i {
        display: none;
    }

    .content-nav-button-label {
        margin: 0 auto 0 auto;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 135%;
        text-align: right;
        text-decoration: none;
    }

    .data-widget-container {
        margin: 0px auto 0px auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }


    .data-widget {
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        width: calc(50vw - (1.5 * 15px));
        height: 123px;
        background: #FFFFFF;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    }

    .data-widget-value {
        margin: auto;
        font-family: 'Lora', serif;
        font-weight: 200;
        font-size: 20px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #333333;
    }

    .data-widget-title {
        margin: 25px auto -7px auto;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 13px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #3468EC;
    }

    .customers-block{
        position: sticky;
        top: 80px;
    }

    .modal{
        padding: 15px;
        background: #FFFFFF;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
        align-items: center;
    }

    .modal-data-wrapper{
        padding: 5px 5px;
        max-height: 66vh;
        overflow: scroll;
        box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.1);

    }

    .modal-data-wrapper .modal{
        padding: 20px;
        background: #FFFFFF;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
        align-items: center;
        margin-bottom: 10px;

        /* box-shadow: none;
        border: #e6e6e6;
        border-style: solid;
        border-width: 2px;
        border-radius: 5px; */
    }

    .modal-grid-container{
        display: grid;
        grid-template-columns: auto auto;
        align-items: top;
        column-gap: 12px;
        row-gap: 28px;
    }

    .flex-row-1 {
        margin-bottom: 28px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .flex-row-2 {
        margin-top: 28px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-flow: row-reverse;
    }

    .search-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .search-container .form-field {
        align-items: center;
        height: 40px;
        display: flex;
        background: #FFFFFF;

        width: 70%;
        box-shadow: inset 0px 0px 10px rgba(94, 94, 94, 0.15);
        padding: 0px 12px 0px 12px;
        box-sizing: border-box;
        transition-property: box-shadow;
        transition-duration: 0.1s;
    }

    .form-field:focus-within {
        box-shadow: inset 0px 0px 0px 1.8px #3468EC;
    }

    .search-input {
        border: none;
        font-family: Montserrat;
        font-weight: 600;
        font-size: 13px;
        margin-left: 4px;
        width: 100%;
    }

    .form-input {
        height: auto;
        width: 100%;
        border: none;
        font-family: Montserrat;
        font-weight: normal;
        font-size: 13px;
    }

    input[type=text]:focus {
        outline: none;
        color: #333333;
    }

    .modal-data-label {
        font-family: Montserrat;
        font-weight: 600;
        font-size: 14px;
        line-height: 135%;
        color: black;
    }

    .modal-data-value{
        margin-top: 5px;
        font-family: Lora;
        font-weight: 200;
        font-size: 16px;
        line-height: 135%;
        color: black;
        hyphens: manual;
    }



}